@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: 100%;
  height: 100%;
  background-color: #e6eaef;
}

@media (prefers-color-scheme: dark) {
  :root {
    width: 100%;
    height: 100%;
    background-color: #e6eaef;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin:0;
  }

.background-animate {
    background-size: 500%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
